<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hz.scantool">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 写入SD卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 读取SD卡权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 扫描二维码库 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_scan"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeNoBar.ScanTool"
        android:usesCleartextTraffic="true">
        <activity android:name=".SubMaterialListActivity"></activity>
        <activity android:name=".ShowMaterial" />
        <activity android:name=".SubDetailForMultipleActivity" />
        <activity android:name=".SubQualityCheckDetailActivity" />
        <activity android:name=".SubQualityCheckActivity" />
        <activity android:name=".PrinterActivity" />
        <activity android:name=".EmployeeReportActivity" />
        <activity android:name=".SubDetailForModelActivity" />
        <activity android:name=".SubDetailActivity" />
        <activity android:name=".SubActivity" />
        <activity android:name=".CheckStockDetailActivity" />
        <activity android:name=".ErrorActivity" />
        <activity android:name=".SubMasterListDetailActivity" />
        <activity android:name=".SubMasterListActivity" />
        <activity android:name=".SubMasterDetailActivity" />
        <activity android:name=".CheckStockActivity" />
        <activity android:name=".SubMasterContentActivity" />
        <activity android:name=".SubMasterActivity" />
        <activity android:name=".SubDetailListActivity" />
        <activity android:name=".SubListActivity" />
        <activity android:name=".DetailListActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/ThemeNoBar.ScanTool.NoActionBar" />
        <activity
            android:name=".MasterActivity"
            android:launchMode="singleTop" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent">

        </activity>

        <provider
            android:authorities="${applicationId}.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>

        </provider>
    </application>

</manifest>